<!doctype html>
<html>
	<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js
	</head>
	<!--<body ng-app="footy" ng-controller="footyController">-->
	<body ng-app="footy" ng-controller="footyController">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row" ng-show="clickOn=='con1'">
        <div class="col-sm-12 col-md-12 main">
          <h1 class="page-header">Dashboard</h1>
          <h2 class="sub-header">League Table</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
				<tr>
					<td>position</td>
					<td>teamName</td>
					<td>playedGames</td>
					<td>wins</td>
					<td>losses</td>
					<td>draws</td>
					<td>goals</td>
					<td>goalsAgainst</td>
					<td>goalDifference</td>
					<td>points</td>
				</tr>
			</thead>
              <tbody>
				<tr ng-repeat="obj in LeagueTable" ng-click="updateTeam(getTeamID(obj._links.team.href))">
					<td>{{obj.position}}</td>
					<td><img ng-click="updateTeam(getTeamID(obj._links.team.href))" teamID="{{getTeamID(obj._links.team.href)}}" width="10px" ng-src={{obj.crestURI}} /> {{obj.teamName}}</td>
					<td>{{obj.playedGames}}</td>
					<td>{{obj.wins}}</td>
					<td>{{obj.losses}}</td>
					<td>{{obj.draws}}</td>
					<td>{{obj.goals}}</td>
					<td>{{obj.goalsAgainst}}</td>
					<td>{{obj.goalDifference}}</td>
					<td>{{obj.points}}</td>
				</tr>
			</tbody>
            </table>
          </div>
        </div>
      </div>
	  
	  <div ng-show="clickOn=='con2'" class="row">
        <div class="col-sm-12 col-md-12 main">
          <h1 class="page-header">Performance</h1>
          <!--<h2 class="sub-header">Performance</h2>-->
			<canvas id="myChart" width="800px" height="200px"></canvas>
        </div>
      </div>
	   
	   <div ng-show="clickOn=='con2'" class="row">
        <div class="col-sm-6 col-md-6 main">
          <h1 class="page-header">Fixtures</h1>
           <div class="table-responsive">
            <table class="table table-striped">
              <thead>
				<tr >
					<td>Home Team</td>
					<td>Away Team</td>
					<td>Match Date</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="fixture in TeamFixtures | filter:FilterFixture ">
					<td>{{fixture.homeTeamName}}</td>
					<td>{{fixture.awayTeamName}}</td>
					<td>{{fixture.date}}</td>
				</tr>
			</tbody>
            </table>
          </div>
        </div>
		<div class="col-sm-6 col-md-6 main">
          <h1 class="page-header">Results</h1>
          <!--<h2 class="sub-header">Results</h2>-->
		   <div class="table-responsive">
            <table class="table table-striped">
              <thead>
				<tr >
					<td>Home Team</td>
					<td>Away Team</td>
					<td>Match Date</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="fixture in TeamFixtures | filter:FilterResults ">
					<td>{{fixture.homeTeamName}}</td>
					<td>{{fixture.awayTeamName}}</td>
					<td>{{fixture.date}}</td>
				</tr>
			</tbody>
            </table>
          </div>
        </div>
	  </div>
	  
	  <div ng-show="clickOn=='con2'" class="row">
        <div class="col-sm-12 col-md-12 main">
          <h1 class="page-header">Squad</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
					<tr >
						<td>jerseyNumber</td>
						<td>name</td>
						<td>nationality</td>
						<td>position</td>	
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in TeamPlayers ">
						<td>{{player.jerseyNumber}}</td>
						<td>{{player.name}}</td>
						<td>{{player.nationality}}</td>
						<td>{{player.position}}</td>	
					</tr>
				</tbody>
            </table>
          </div>
        </div>
      </div>
	  
	  
    </div>


</body>	
	
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="scripts/angular-footballdata-api-factory.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="scripts/footyController.js"></script>
	<script type="text/javascript" src="scripts/footyFactory.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
	
	<script>
	
	
	function updateChart()
	{
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
				datasets: [{
					label: '# of Votes',
					data: [12, 19, 3, 5, 2, 3],
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)'
					],
					borderColor: [
						'rgba(255,99,132,1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				responsive:false,
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero:true
						}
					}]
				}
			}
		});
	}
	</script>
</html>
