<!doctype html>
<html>
	<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body ng-app="footy" ng-controller="footyController">
		
		<table>
			<thead>
				<tr>
					<td>position</td>
					<td>teamName</td>
					<td>playedGames</td>
					<td>wins</td>
					<td>losses</td>
					<td>draws</td>
					<td>goals</td>
					<td>goalsAgainst</td>
					<td>goalDifference</td>
					<td>points</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in LeagueTable" ng-click="updateTeam(getTeamID(obj._links.team.href))">
					<td>{{obj.position}}</td>
					<td><img ng-click="updateTeam(getTeamID(obj._links.team.href))" teamID="{{getTeamID(obj._links.team.href)}}" width="10px" ng-src={{obj.crestURI}} /> {{obj.teamName}}</td>
					<td>{{obj.playedGames}}</td>
					<td>{{obj.wins}}</td>
					<td>{{obj.losses}}</td>
					<td>{{obj.draws}}</td>
					<td>{{obj.goals}}</td>
					<td>{{obj.goalsAgainst}}</td>
					<td>{{obj.goalDifference}}</td>
					<td>{{obj.points}}</td>
				</tr>
			</tbody>
		</table>
		
		<h1>All Teams</h1>
		<ul ng-repeat="team in Teams">
			<li code="{{team.code}}" shortName="{{team.shortName}}">
				<img width="15px" ng-src="{{team.crestUrl}}" />
				{{team.shortName}}	
			</li>
		</ul>
		
		<h1>fixtures</h1>
		<table>
			<thead>
				<tr >
					<td>Home Team</td>
					<td>Away Team</td>
					<td>Match Date</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="fixture in TeamFixtures | filter:FilterFixture ">
					<td>{{fixture.homeTeamName}}</td>
					<td>{{fixture.awayTeamName}}</td>
					<td>{{fixture.date}}</td>
				</tr>
			</tbody>
		</table>
		
		<h1>Results</h1>
		<table>
			<thead>
				<tr >
					<td>Home Team</td>
					<td>Away Team</td>
					<td>Match Date</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="fixture in TeamFixtures | filter:FilterResults ">
					<td>{{fixture.homeTeamName}}</td>
					<td>{{fixture.awayTeamName}}</td>
					<td>{{fixture.date}}</td>
				</tr>
			</tbody>
		</table>
		
		<h1>Last Five Games</h1>
		<table>
			<thead>
				<tr >
					<td>Home Team</td>
					<td>Away Team</td>
					<td>Match Date</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="fixture in TeamFixtures | filter:FilterLast5 | orderBy: '-date' | limitTo:5 ">
					<td>{{fixture.homeTeamName}}</td>
					<td>{{fixture.awayTeamName}}</td>
					<td>{{fixture.date}}</td>
				</tr>
			</tbody>
		</table>
		
		
		
		
		
		<h1>Head to head</h1>
		<div ng-repeat="team in Teams" style="clear:both;">
			<div style="float:left;padding:5px;	">
			<img width="25px" ng-src="{{team.crestUrl}}" />
			</div>
		</div>
		
		<h1>Team Squad</h1>
		<div>
			<table>
				<thead>
					<tr >
						<td>jerseyNumber</td>
						<td>name</td>
						<td>nationality</td>
						<td>position</td>	
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in TeamPlayers ">
						<td>{{player.jerseyNumber}}</td>
						<td>{{player.name}}</td>
						<td>{{player.nationality}}</td>
						<td>{{player.position}}</td>	
					</tr>
				</tbody>
			</table>
		</div>
		
		
			
	</body>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="scripts/angular-footballdata-api-factory.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="scripts/footyController.js"></script>
	<script type="text/javascript" src="scripts/footyFactory.js"></script>
</html>