<!DOCTYPE HTML>

   <html>
   <head>
   <title>Mushati Football Fever</title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
   <link rel="stylesheet" href="assets/css/main.css" />
   <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
   <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
   </head>
   <body ng-app="footy" ng-controller="footyController">

   <!-- Wrapper -->
   <div id="wrapper">

   <!-- Header -->
   <header id="header">
   <div class="logo">
   <span class="icon fa-futbol-o"></span>
   </div>
   
   <div class="content">
   
   
<div class="inner">
   <h1>English Premier League</h1>
   <p>Select your Favourite Team </p>
   
<table>
			<thead scope="row">
				<tr>
					<td>position</td>
					<td>teamName</td>
					<td>playedGames</td>
					<td>wins</td>
					<td>losses</td>
					<td>draws</td>
					<td>goals</td>
					<td>goalsAgainst</td>
					<td>goalDifference</td>
					<td>points</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in LeagueTable"  >
					<td>{{obj.position}}</td>
					<td><img ng-click="updateTeam(getTeamID(obj._links.team.href))" teamID="{{getTeamID(obj._links.team.href)}}" width="15px" ng-src={{obj.crestURI}} /> {{obj.teamName}}</td>
					<td>{{obj.playedGames}}</td>
					<td>{{obj.wins}}</td>
					<td>{{obj.losses}}</td>
					<td>{{obj.draws}}</td>
					<td>{{obj.goals}}</td>
					<td>{{obj.goalsAgainst}}</td>
					<td>{{obj.goalDifference}}</td>
					<td>{{obj.points}}</td>
				</tr>
			</tbody>
		</table>
		

<main id="tm-content" class="tm-content">
                        <div class="match-list-wrap">
                          
                            
                            <div class="match-list-item">
                                <div class="date">
                                    <span>12</span>
                                    Nov                
                                </div>
                                <div class="logo">
                                    <a href="match-single.html">
                                    <img src="images/team-ava3.png" class="img-polaroid" alt="Croatia VS Roman (2015-11-12)" title="Croatia VS Roman (2015-11-12)"></a>                                     
                                </div>
                                <div class="team-name">
                                    Croatia                
                                </div>
                                <div class="team-score">
                                    2                    
                                </div>
                                <div class="score-separator">:</div>
                                <div class="team-score">
                                    0                    
                                </div>
                                <div class="team-name">
                                    Roman                
                                </div>
                                <div class="logo">
                                    <a href="match-single.html">
                                    <img src="images/team-ava4.png" class="img-polaroid" alt="Croatia VS Roman (2015-11-12)" title="Croatia VS Roman (2015-11-12)"></a>                                    
                                </div>
                                <div class="location">
                                    <address>
                                        Cambridgeshire UK               <br><br>
                                    </address>
                                </div>
                                <div class="va-view-wrap">
                                    <a class="view-article" href="match-single.html">view</a>
                                </div>
                            </div>
                            <div class="match-list-item">
                                <div class="date">
                                    <span>12</span>
                                    Nov                
                                </div>
                                <div class="logo">
                                    <a href="match-single.html">
                                    <img src="images/team-ava5.png" class="img-polaroid" alt="Uventus VS Chalenger (2015-11-12)" title="Uventus VS Chalenger (2015-11-12)"></a>                                     
                                </div>
                                <div class="team-name">
                                    Uventus                
                                </div>
                                <div class="team-score">
                                    2                    
                                </div>
                                <div class="score-separator">:</div>
                                <div class="team-score">
                                    0                    
                                </div>
                                <div class="team-name">
                                    Chalenger                
                                </div>
                                <div class="logo">
                                    <a href="match-single.html">
                                    <img src="images/team-ava.png" class="img-polaroid" alt="Uventus VS Chalenger (2015-11-12)" title="Uventus VS Chalenger (2015-11-12)"></a>                                    
                                </div>
                                <div class="location">
                                    <address>
                                        Cambridgeshire UK               <br><br>
                                    </address>
                                </div>
                                <div class="va-view-wrap">
                                    <a class="view-article" href="match-single.html">view</a>
                                </div>
                            </div>
                        </div>
                    </main>
		
		
   </div>
   </div>
   <nav>
   <ul>

   <li><a href="#about">About</a></li>
   <li><a href="#contact">Contact</a></li>
   <!--<li><a href="#elements">Elements</a></li>-->
   </ul>
   </nav>
   

   <!-- Main -->
   <div id="main">

	

   <!-- About -->
   <article id="about">
   <h2 class="major">About</h2>
   <span class="image main"><img src="images/pic03.jpg" alt="" /></span>
   <p>This is a project Created for the Internet Client Engineering of Latrobe University</p>
   </article>

   <!-- Contact -->
   <article id="contact">
   <h2 class="major">Contact</h2>
   <form method="post" action="#">
   <div class="field half first">
   <label for="name">Name</label>
   <input type="text" name="name" id="name" />
   </div>
   <div class="field half">
   <label for="email">Email</label>
   <input type="text" name="email" id="email" />
   </div>
   <div class="field">
   <label for="message">Message</label>
   <textarea name="message" id="message" rows="4"></textarea>
   </div>
   <ul class="actions">
   <li><input type="submit" value="Send Message" class="special" /></li>
   <li><input type="reset" value="Reset" /></li>
   </ul>
   </form>
   <ul class="icons">
   <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
   <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
   <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
   <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
   </ul>
   </article>



   </div>

   <!-- Footer -->
   <footer id="footer">
   <p class="copyright">&copy; Mushati.Latrobe </p>
   </footer>

   </div>

   <!-- BG -->
   <div id="bg"></div>

   <!-- Scripts -->
   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/skel.min.js"></script>
   <script src="assets/js/util.js"></script>
   <script src="assets/js/main.js"></script>
   	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="scripts/angular-footballdata-api-factory.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="scripts/footyController.js"></script>
	<script type="text/javascript" src="scripts/footyFactory.js"></script>

   </body>
   </html>
